<script context="module">
  import { gotoRetrievalError } from "../../errors"
  import { retrieveOrganization } from "../../retrievers"

  export async function preload(page) {
    const { params } = page
    const organization = await retrieveOrganization(params.organization, {
      errorHandler: gotoRetrievalError(this.error),
      fetch: this.fetch,
      location: page.path,
    })
    return { organization }
  }
</script>

<script>
  import { setContext } from "svelte"
  import { writable } from "svelte/store"

  export let organization

  setContext("organizationStore", writable(organization))
</script>

<slot />
