<script context="module">
  export async function preload() {
    return { fetch: this.fetch }
  }
</script>

<script>
  import { getContext } from "svelte"

  import { stores } from "@sapper/app"

  import AdminOnly from "../../components/AdminOnly.svelte"
  import Nav from "../../components/Nav.svelte"
  import { retrieveOrganization } from "../../retrievers"

  export let fetch

  const organizationStore = getContext("organizationStore")
  const { page, session } = stores()
  let repositoryUpdateInProgress = false
  let repositoryUpdateResult = null

  $: organization = $organizationStore

  async function updateFromRepository() {
    repositoryUpdateInProgress = true
    repositoryUpdateResult = null
    // eslint-disable-next-line no-undef
    const response = await fetch(`/api/${organization.slug}/update`, {
      method: "POST",
      // body: JSON.stringify({}, null, 2),
      // headers: {
      //   "Content-Type": "application/json; charset=utf-8",
      // },
    })
    repositoryUpdateResult =
      response.ok || response.status === 400
        ? await response.json()
        : { error: `${response.status} ${response.statusText}` }
    repositoryUpdateInProgress = false

    organization = await retrieveOrganization(organization.slug, {
      fetch,
      location: $page.path,
    })
    $organizationStore = organization
  }
</script>

<style>
  main {
    /* For sticky footer: cf https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
    flex: 1;
  }
</style>

<svelte:head>
  <title>Admin | {organization.name} | {$session.title}</title>
</svelte:head>

<Nav segment={organization.slug} />

<main class="container-fluid">
  <AdminOnly next="/{organization.slug}/admin">
    <h2>Configuration</h2>

    {#if organization.repository}
      <button class="btn btn-primary mb-3" on:click={updateFromRepository} type="button"> Mettre à jour </button>
    {/if}

    {#if repositoryUpdateInProgress}
      <div class="alert alert-primary" role="alert">
        Mise à jour des questionnaires en cours...
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            aria-valuenow="100"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 100%" />
        </div>
      </div>
    {/if}

    {#if repositoryUpdateResult}
      {#if repositoryUpdateResult.error}
        <div class="alert alert-danger" role="alert">
          <strong>La mise à jour a échoué !</strong>
          <p>Veuillez corriger les errors indiquées ci-dessous :</p>
          <pre><code>{JSON.stringify(repositoryUpdateResult, null, 2)}</code></pre>
        </div>
      {:else}
        <div class="alert alert-success" role="alert"><strong>La mise à jour des formulaires a réussi.</strong></div>
      {/if}
    {/if}

    <h2>Administration des questionnaires</h2>

    <ul>
      {#each organization.surveys as survey (survey.slug)}
        <li><a rel="prefetch" href="/{organization.slug}/{survey.slug}/admin">{survey.title}</a></li>
      {/each}
    </ul>
  </AdminOnly>
</main>
