<script>
  import { getContext } from "svelte"

  import { stores } from "@sapper/app"

  import CustomBanner from "../../components/CustomBanner.svelte"

  const organizationStore = getContext("organizationStore")
  const { session } = stores()

  $: organization = $organizationStore
</script>

<style>
  main {
    /* For sticky footer: cf https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
    flex: 1;
  }
</style>

<svelte:head>
  <title>{organization.name} | {$session.title}</title>
</svelte:head>

<CustomBanner {organization} />

<main class="container-fluid">
  <h2>Liste des questionnaires</h2>

  <ul>
    {#each organization.surveys as survey (survey.slug)}
      <li><a rel="prefetch" href="/{organization.slug}/{survey.slug}">{survey.title}</a></li>
    {/each}
  </ul>
</main>
