<script>
  import { stores } from "@sapper/app"

  import Nav from "../components/Nav.svelte"

  export let status
  export let error

  const { session } = stores()

  const dev = process.env.NODE_ENV === "development"
</script>

<style>
  main {
    /* For sticky footer: cf https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
    flex: 1;
  }
</style>

<svelte:head>
  <title>{status} | {$session.title}</title>
</svelte:head>

<Nav segment="error" />

<main class="container-fluid">
  <h1>{status}</h1>

  <p class="lead">{error.message}</p>

  {#if dev && error.stack}
    <pre>{error.stack}</pre>
  {/if}

  {#if status === 404}
    <img src="/404.jpg" class="img-fluid" alt="illustration for a page not found" />
  {:else}<img src="/500.png" class="img-fluid" alt="illustration for an unexpected error" />{/if}
</main>
