<script context="module">
  import { gotoRetrievalError } from "../errors"
  import { retrieveOrganizations } from "../retrievers"

  export async function preload(page) {
    const organizations = await retrieveOrganizations({
      errorHandler: gotoRetrievalError(this.error),
      fetch: this.fetch,
      location: page.path,
    })
    return { organizations }
  }
</script>

<script>
  import { setContext } from "svelte"
  import { writable } from "svelte/store"

  export let organizations

  setContext("organizationsStore", writable(organizations))
</script>

<slot />

<footer class="bg-light text-center pt-3 text-muted">
  <small>
    <a href="/cgu">Conditions d'utilisation</a>
    —
    <a href="/mentions-legales">Mentions légales</a>
    —
    <a href="/confidentialite">Confidentialité</a>
    <br />
    <i><a href="https://en.wikipedia.org/wiki/Simalto" target="_blank">SIMALTO Modelling data collection</a></i>. © Tous
    droits réservés.
    <br />
    <a href="http://www.civimetric.com/">
      <img alt="Logo Civimetric" src="/logo-civimetric-small.png" width="100" />
    </a>
  </small>
</footer>
