<script>
  import { getContext } from "svelte"

  import { stores } from "@sapper/app"

  import AdminOnly from "../components/AdminOnly.svelte"
  import Nav from "../components/Nav.svelte"

  const organizationsStore = getContext("organizationsStore")
  const { session } = stores()

  $: organizations = $organizationsStore
</script>

<style>
  main {
    /* For sticky footer: cf https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
    flex: 1;
  }
</style>

<svelte:head>
  <title>Admin | {$session.title}</title>
</svelte:head>

<Nav segment="admin" />

<main class="container-fluid">
  <AdminOnly next="/admin">
    <h2>Administration des adhérents</h2>

    <ul>
      {#each organizations as organization (organization.slug)}
        <li><a rel="prefetch" href="/{organization.slug}/admin">{organization.name}</a></li>
      {/each}
    </ul>
  </AdminOnly>
</main>
