<script>
  import { stores } from "@sapper/app"
  import Nav from "../components/Nav.svelte"

  const { session } = stores()
</script>

<style>
  main {
    /* For sticky footer: cf https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
    flex: 1;
  }
</style>

<svelte:head>
  <title>Conditions générales d'utilisation | {$session.title}</title>
</svelte:head>

<Nav segment="cgu" />

<main class="container">
  <h1>Conditions générales d'utilisation du site Simalto.fr</h1>

  Droit applicable : Français<br />
  Langue du contrat faisant foi : Français<br />
  Date de dernière mise à jour : 09/10/2018<br />

  <h2 class="my-3">ARTICLE 1 : Objet</h2>

  Simalto.fr est un site web pour informer et organiser des consultations. Il contient ou contiendra ainsi :

  <ul>
    <li>Une partie permettant de visualiser de l'information</li>
    <li>Une partie permettant la création du questionnaire</li>
    <li>Une partie permettant l'administration du questionnaire</li>
    <li>Une partie permettant aux Destinataires du questionnaire de répondre au questionnaire</li>
    <li>Une partie permettant de fournir les résultats du questionnaire</li>
  </ul>

  <p>Simalto.fr désigne le site web accessible au lien suivant : https://simalto.fr</p>

  <p>
    Les présentes « Conditions Générales d'Utilisation » ont pour objet l'encadrement juridique des modalités de mise à
    disposition des services du site et leur utilisation par « l'Utilisateur ».
  </p>

  <p>
    Les Conditions Générales d'Utilisation doivent être acceptées par tout Utilisateur souhaitant accéder au site. Elles
    constituent le contrat entre le site et l'Utilisateur. L'accès au site par l'Utilisateur signifie son acceptation
    des présentes Conditions Générales d'Utilisation.
  </p>

  <p>Les Conditions Générales d'Utilisation sont accessibles sur le site dans un lien en pied de page : CGU.</p>

  <p>
    En cas de non-acceptation des Conditions Générales d'Utilisation stipulées dans le présent contrat, l'Utilisateur se
    doit de renoncer à l'accès des services proposés par le site.
  </p>

  <p>
    Le site se réserve le droit de modifier unilatéralement et à tout moment le contenu des présentes Conditions
    Générales d'Utilisation. L'Utilisateur est invité à s'y référer le plus souvent possible afin d'en prendre
    connaissance.
  </p>

  <h2 class="my-3">ARTICLE 2 : Mentions légales</h2>

  <p>Simalto.fr désigne le site web accessible au lien suivant : https://simalto.fr</p>

  <p>Simalto.fr est un service mis à disposition par :</p>

  <address>
    <b>CIVIMETRIC SARL</b><br />
    12, passage de la Fonderie<br />
    75011 PARIS<br />
    FRANCE<br />
    Mail :
    <a href="mailto:contact@civimetric.com">contact@civimetric.com</a><br />
    Téléphone : +33 (0)7 83 99 29 31<br />
  </address>

  Numéro d'inscription au registre du commerce et des sociétés : 837 570 316 R.C.S. PARIS<br />
  Numéro de TVA intracommunautaire : FR 68 837570316<br />
  Capital : 3 300 €<br />
  <br />
  Responsable de la publication : Olivier ROUSSEAUX<br />
  <br />

  <p>
    En cas de questions, demandes, etc. : merci de privilégier les contacts par e-mail, qui sont traités en priorité.
  </p>

  <h2 class="my-3">ARTICLE 3 : Définitions</h2>

  La présente clause a pour objet de définir les différents termes essentiels du contrat :

  <ul>
    <li>
      Le Site : ce terme désigne le site web Simalto.fr et son responsable désigné dans la partie mentions légales.
    </li>
    <li>
      Utilisateur : ce terme désigne toute personne qui utilise le site ou l'un des services proposés par le site.
    </li>
    <li>Contenu utilisateur : ce sont les données transmises par l'Utilisateur au sein du site.</li>
    <li>
      Questionnaire : ce terme désigne tout questionnaire au sens large sur la plateforme (enquête, consultation,
      sondage, quizz, etc.)
    </li>
    <li>
      Le Créateur de questionnaire : ce terme désigne tout utilisateur qui créé un questionnaire en utilisant le site.
    </li>
    <li>
      Le Destinataire de questionnaire : ce terme désigne tout utilisateur qui a accès à un questionnaire afin de
      pouvoir y répondre.
    </li>
    <li>Civimetric : l'entité légale propriétaire du site mentionnée dans les mentions légales.</li>
  </ul>

  <h2 class="my-3">ARTICLE 4 : Accès aux services</h2>

  <p>
    Le Site offre de nombreuses fonctionnalités en particulier pour créer et gérer les questionnaires, utilisables et
    accessibles par des profils d'utilisateurs différents.
  </p>

  Le Créateur de questionnaire :

  <ul>
    <li>crée son questionnaire (contenu, forme)</li>
    <li>peut modifier son questionnaire</li>
    <li>peut répondre à son questionnaire</li>
    <li>peut consulter les résultats du questionnaire et les exporter</li>
  </ul>

  Le Destinataire de questionnaire :

  <ul>
    <li>peut répondre à un questionnaire qu'on lui a envoyé</li>
    <li>
      si l'option de partage des résultats a été défini ou si il a le code d'accès aux résultats : il peut consulter les
      résultats du questionnaire et les exporter
    </li>
  </ul>

  L'Utilisateur avec accès en lecture aux résultats :

  <ul>
    <li>
      peut consulter les résultats du questionnaire et les exporter, dès lors qu'il dispose du code d'accès aux
      résultats
    </li>
  </ul>

  <p>
    Le Site est accessible gratuitement en tout lieu à tout Utilisateur ayant un accès à Internet. Tous les frais
    supportés par l'Utilisateur pour accéder au service (matériel informatique, logiciels, connexion Internet, etc.)
    sont à sa charge.
  </p>

  <p>
    L'utilisation du site est gratuite pour le destinataire du questionnaire. L'utilisation du site est payante pour le
    créateur du questionnaire avec un prix défini dans le contrat établi entre le créateur du questionnaire et
    Civimetric.
  </p>

  Limitations concernant la durée d'un questionnaire :

  <ul>
    <li>
      Un questionnaire est ouvert aux réponses pendant 2 semaines par défaut après la date de création du questionnaire.
      Cette durée peut être diminuée ou augmentée selon le contrat établi entre le Créateur du questionnaire et
      Civimetric.
    </li>
    <li>
      Les résultats d'un questionnaire sont accessibles pendant 1 mois par défaut après la date de création du
      questionnaire. Cette durée peut être diminuée ou augmentée selon le contrat établi entre le Créateur du
      questionnaire et Civimetric.
    </li>
    <li>Hors de ces délais, le questionnaire et ses résultats ne sont pas accessibles.</li>
  </ul>

  Le Site se réserve le droit à tout moment, et sans préavis :

  <ul>
    <li>de modifier ou d'arrêter tout ou partie du service proposé</li>
    <li>de modifier les conditions d'utilisation de tout ou partie du service proposé</li>
    <li>de modifier le caractère gratuit du service proposé</li>
    <li>de modifier les adresses url utilisées</li>
  </ul>

  <p>Le Site ne fournit aucune garantie quant à l'utilisation du site et ne fournit aucun engagement de résultats.</p>

  En l'occurrence, le Site (et son responsable) ne saurait être tenu responsable :

  <ul>
    <li>
      de la publication de contenu protégé. En effet, si un Utilisateur fourni des données qui sont mises en ligne dont
      il n'a pas les droits ; l'Utilisateur est le seul responsable du contenu (notamment vis-à-vis du propriétaire des
      données).
    </li>
    <li>
      de l'interruption temporaire ou totale de l'accès à vos données ou au questionnaire (notamment suite à un problème
      technique ou en cas de maintenance).
    </li>
    <li>de l'effacement ou de la perte partielle ou totale de vos données.</li>
    <li>
      de problèmes dans la restitution de données, comme des chiffres erronés ou des réponses ou résultats manquants.
    </li>
    <li>de l'utilisation frauduleuse par un tiers de votre compte ou de vos données.</li>
    <li>de la non-satisfaction de vos attentes quant aux services proposés.</li>
    <li>
      de tout événement dû à un cas de force majeure ou à des tiers ayant pour conséquence un dysfonctionnement du site.
    </li>
  </ul>

  <h2 class="my-3">
    ARTICLE 5 : Propriété et responsabilités de l'utilisateur sur son contenu et son utilisation du site
  </h2>

  <p>Le site héberge des contenus (questionnaires, réponses aux questionnaires, …) créés par les Utilisateurs.</p>

  <p>
    Le contenu (questionnaires, réponses aux questionnaires, …) créé sur le site par un Utilisateur est la propriété de
    cet Utilisateur.
  </p>

  <p>Un Utilisateur est le seul responsable du contenu qu'il créé sur le site.</p>

  <p>
    En particulier : les questionnaires créés sur le site sont la propriété des Créateurs de questionnaire. Ils en sont
    les seuls propriétaires et les seuls responsables.
  </p>

  <p>
    Le Site ne saurait être tenu responsable de la création et/ou l'utilisation et/ou la diffusion de contenu illégal,
    illicite, ou calomnieux par des Utilisateurs sur sa plateforme.
  </p>

  <p>
    Le Site ne saurait être tenu responsable d'éventuels dommages ou infractions à la loi résultant de l'utilisation de
    son site.
  </p>

  <p>
    Pour dénoncer un contenu inapproprié ou illégal, merci de nous contacter :
    <a href="mailto:contact@civimetric.com">contact@civimetric.com</a>
  </p>

  <p>
    Le Créateur de questionnaire est responsable de son utilisation du site, des données qu'il choisit de saisir
    (questionnaire, …), et de la collecte des données qu'il réalise via le questionnaire qu'il choisit de créer et de
    diffuser.
  </p>

  <p>
    Le destinataire de questionnaire qui répond à un questionnaire est responsable de son utilisation du site, et des
    données qu'il choisit de saisir (réponses, …).
  </p>

  <p>Le destinataire du questionnaire n'a aucune obligation de répondre à un questionnaire.</p>
</main>
