<script>
  import { stores } from "@sapper/app"
  import Nav from "../components/Nav.svelte"

  const { session } = stores()
</script>

<style>
  main {
    /* For sticky footer: cf https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
    flex: 1;
  }
</style>

<svelte:head>
  <title>Confidentialité | {$session.title}</title>
</svelte:head>

<Nav segment="mentions-legales" />

<main class="container">
  <h1>Politique de confidentialité et protection des données personnelles</h1>

  <h2 class="my-3">1. Collecte, confidentialité et sécurisation des données</h2>

  <h3 class="my-3">1.1. Les données des participants aux études</h3>

  <h4 class="my-3">Les données collectées</h4>

  <p>
    Nous collectons parfois les données personnelles des participants aux études par le biais de nos clients qui nous
    les fournissent ou de sources tierces.
  </p>
  <p>Ces données peuvent inclure :</p>
  <ul>
    <li>
      Des données de contact, telles que le nom, l'adresse e-mail, l'adresse postale, le lieu de travail et le numéro de
      téléphone, l'âge, le genre ;
    </li>
    <li>
      Des données sur la profession, la catégorie socio-professionnelle, l'ancienneté, les études, les qualifications,
      photos ;
    </li>
    <li>Les commentaires, et autres informations que fournissent les participants dans le cadre de l'étude.</li>
  </ul>

  <h4 class="my-3">La collecte et traitements des données</h4>

  <p>La collecte des données est limitée aux éléments strictement nécessaires à l'objectif de l'étude.</p>
  <p>
    Tous les participants à nos études expriment un consentement préalable explicite pour la participation à l'étude et
    ce quel que soit le mode de recueil utilisé (téléphone, face à face, questionnaire en ligne, participation à un
    groupe, …). Ce consentement est libre (volontaire et capable d'être retiré à tout moment), spécifique (lié
    uniquement à l'étude concernée) et éclairé.
  </p>

  <h4 class="my-3">Anonymisation des données</h4>

  <p>
    À l'issue de la collecte, les données personnelles sont effacées du fichier et les traitements sont effectués sur
    des données totalement anonymisées. Civimetric respecte les mêmes règles et prend les mêmes précautions pour les
    bases d'échantillonnage fournis par les clients, les panélistes on line et les répondants offlines.
  </p>
  <p>
    Sur demande explicite de nos clients et pour répondre à un objectif précis, de qualité de service par exemple, les
    données personnelles des personnes interrogées pourront être conservées et utilisées, à la seule condition que ces
    dernières aient accepté la levée d'anonymat. Elles doivent alors au préalable être informées de la manière dont ces
    données seront partagées et utilisées.
  </p>

  <h4 class="my-3">Autres points spécifiques sur la collecte</h4>

  <p>
    En cas de collecte de données auprès d'enfants, jeunes personnes (- de 16 ans) et autres individus vulnérables, le
    consentement des parents ou de l'adulte responsable est systématiquement demandé, la description détaillée de la
    nature du projet d'étude doit leur être fournie afin qu'ils puissent prendre une décision éclairée. L'identité de
    l'adulte responsable est systématiquement enregistrée.
  </p>
  <p>
    En cas d'étude BtoB sur des entreprises, personnes morales, nous appliquons les mêmes règles de collecte, de
    traitement et de confidentialité des données que celles appliquées aux personnes individuelles.
  </p>

  <h4 class="my-3">Sécurisation de l'accès aux données personnelles transmises par le client</h4>

  <p>
    Les fichiers transmis pour une étude sont sauvegardés dans un dossier dédié. Un nombre restreint de collaborateurs
    Civimetric (consultants en charge de l'étude et consultants en support) et notre prestataire informatique disposent
    de droits d'accès.
  </p>

  <h3 class="my-3">
    1.2. Les données des Clients et Prospects Civimetric (Entreprises privées ou Collectivités publiques ou
    Associations)
  </h3>

  <p>
    Nous collectons les informations et données personnelles de nos clients et prospects qu'ils nous remettent eux-mêmes
    ou ont rendues publiquement accessibles en ligne ainsi que les informations et données personnelles provenant de
    tiers si ceux-ci sont autorisés par nos clients ou prospects à partager ces informations avec nous.
  </p>
  <p>Ces données sur nos Clients/Prospects peuvent inclure ce qui suit :</p>
  <ul>
    <li>Civilité, prénom, nom</li>
    <li>Email professionnel</li>
    <li>Téléphone direct professionnel</li>
    <li>Fonction</li>
    <li>Entreprise / Collectivité / Association</li>
  </ul>
  <p>Les données collectées peuvent être utilisées pour :</p>
  <ul>
    <li>L'exécution et la gestion du contrat</li>
    <li>
      La réalisation des actions de communication (courrier, email, appel téléphonique) à des fins marketing et
      commerciales d'invitation à des événements et plus globalement sur l'actualité de Civimetric.
    </li>
  </ul>

  <h2 class="my-3">2. Stockage et conservation des données</h2>

  <p>Les fichiers contenant des données personnelles sont détruits 5 ans après la fin des enquêtes.</p>
  <p>
    Les fichiers de résultats d'enquêtes (qui ne comportent aucune donnée personnelle) sont détruits 5 ans après la fin
    de l'étude, sauf demande explicite de nos clients de réduire ce délai.
  </p>
  <p>
    En cas d'externalisation de nos traitements, les conditions de conservation et de destruction s'appliquent selon les
    mêmes délais.
  </p>

  <h2 class="my-3">3. Sécurité des données et des systèmes d'information</h2>

  <h4 class="my-3">Sécurisation des locaux</h4>

  <p>Le contrôle d'accès à nos locaux est en permanence assuré par digicode ou badge puis clef.</p>

  <h4 class="my-3">Sécurisation des serveurs</h4>

  <p>Un pare-feu protège notre réseau des intrusions externes.</p>

  <h4 class="my-3">Sécurisation des systèmes d'information</h4>

  <p>Les personnels permanents disposent tous de leurs propres accès à la plateforme en ligne.</p>
  <p>
    La gestion des droits d'accès aux données se fait au niveau du responsable informatique avec la participation du
    prestataire ; des restrictions d'accès peuvent être mises en place dans le cas de données particulièrement
    sensibles.
  </p>
  <p>Une sauvegarde de nos serveurs est effectuée de manière régulière.</p>

  <h2 class="my-3">4. Droit d'accès et de rectification des données</h2>

  <p>
    Civimetric met en œuvre les moyens nécessaires pour assurer aux personnes l'exercice de leur droit d'accès, de
    rectification de suppression et d'opposition des données à caractère personnel les concernant lorsqu'ils en font la
    demande et la possibilité de se désabonner des newsletters ou communications Civimetric à tout moment.
  </p>
  <p>
    Ce droit peut être exercé à toute personne, à tout moment, gratuitement et en justifiant de son identité, en
    s'adressant à contact@civimetric.com.
  </p>

  <h2 class="my-3">5. Prestataires et Fournisseurs</h2>

  <p>
    Civimetric sélectionne avec soins ses prestataires et fournisseurs en fonction de leur capacité à respecter ses
    exigences en matière de protection des données, dès qu'une prestation sous-traitée comporte le traitement de données
    personnelles. Nos prestataires et fournisseurs ne sont pas autorisés à déléguer une partie des services de
    traitement des données personnelles à des sous-traitants sans l'approbation préalable de Civimetric.
  </p>

  <h2 class="my-3">6. Règlement à destination des participants à nos Études - Valable pour l'ensemble de nos Études</h2>

  <p>
    Le Règlement Général sur la Protection des Données (RGPD) garantit que vos Données Personnelles ne seront utilisées
    qu'aux seules fins de recherche et de réalisation d'études pour aucun autre motif sans avoir obtenu votre
    consentement au préalable.
  </p>
  <p>
    En application du Règlement Général sur la Protection des Données (RGPD) vous pouvez à tout moment exercer vos
    droits :
  </p>
  <ul>
    <li>de retirer votre consentement de participer à l'étude</li>
    <li>de vous opposer au traitement de vos Données Personnelles</li>
    <li>de demander la modification, correction ou suppression de vos Données Personnelles</li>
    <li>de demander à avoir accès à toutes les Données Personnelles que nous avons à votre sujet</li>
    <li>de demander une copie de toutes les Données Personnelles que nous avons à votre sujet</li>
    <li>de demander la limitation des traitements de vos Données Personnelles</li>
  </ul>
  <p>
    Vous ne subirez aucun préjudice ni n'aurez rien à payer pour avoir participé à cette étude, en accord avec le code
    de conduite de notre profession.
  </p>
  <p>Vous pouvez nous contacter par email sur <a href="mailto:contact@civimetric.com">contact@civimetric.com</a>.</p>
</main>
