<script>
  import { getContext } from "svelte"

  import { stores } from "@sapper/app"

  const organizationsStore = getContext("organizationsStore")
  const { session } = stores()

  $: organizations = $organizationsStore
</script>

<style>
  main {
    /* For sticky footer: cf https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
    flex: 1;
  }
</style>

<svelte:head>
  <title>{$session.title}</title>
</svelte:head>

<div class="bg-info d-flex flex-row text-white">
  <img
    alt="Logo de Civimetric"
    class="mb-1 ml-1 mr-1 mt-1"
    src="/logo-civimetric-blanc.png"
    style="height: 128px; width: auto;" />
  <h1 class="align-self-center flex-grow-1 text-center">{$session.title}</h1>
</div>

<main class="container-fluid">
  <h1>Questionnaires</h1>

  <ul>
    {#each organizations as organization (organization.slug)}
      <li><a rel="prefetch" href="/{organization.slug}">{organization.name}</a></li>
    {/each}
  </ul>
</main>
