<script>
  import { goto, stores } from "@sapper/app"

  const { session } = stores()

  async function logout() {
    const response = await fetch("/api/auth/logout", {
      method: "POST",
      credentials: "same-origin",
      body: JSON.stringify({}, null, 2),
      headers: {
        "Content-Type": "application/json",
      },
    })
    const user =
      response.ok || response.status === 400
        ? await response.json()
        : { error: `${response.status} ${response.statusText}` }
    if (!user.error) {
      $session = {
        ...$session,
        user: null,
      }
    }
    return user
  }

  function submit(event) {
    event.preventDefault()

    logout()
      .then(() => {
        goto("/")
      })
      .catch((err) => {
        // TODO handle network errors
        console.error({ err })
      })
  }
</script>

<svelte:head>
  <title>Déconnexion | {$session.title}</title>
</svelte:head>

<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign Out</h1>

        <form on:submit={submit}>
          <button class="btn btn-lg btn-primary pull-xs-right" type="submit" disabled={!$session.user}>
            Sign out
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
