<script>
  import { stores } from "@sapper/app"
  import Nav from "../components/Nav.svelte"

  const { session } = stores()
</script>

<style>
  main {
    /* For sticky footer: cf https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
    flex: 1;
  }
</style>

<svelte:head>
  <title>Mentions légales | {$session.title}</title>
</svelte:head>

<Nav segment="mentions-legales" />

<main class="container">
  <h1>Mentions légales</h1>

  <h2>Éditeur, directeur de la publication et hébergeur</h2>

  <p>Le site simalto.fr est mis à disposition par :</p>

  <address>
    <b>CIVIMETRIC SARL</b><br />
    12, passage de la Fonderie<br />
    75011 PARIS<br />
    FRANCE<br />
    Mail :
    <a href="mailto:contact@civimetric.com">contact@civimetric.com</a><br />
    Téléphone : +33 (0)7 83 99 29 31<br />
  </address>

  Numéro d'inscription au registre du commerce et des sociétés : 837 570 316 R.C.S. PARIS<br />
  Numéro de TVA intracommunautaire : FR 68 837570316<br />
  Capital : 3 300 €<br />
  <br />
  Responsable de la publication : Olivier ROUSSEAUX
</main>
