<script context="module">
  export async function preload(page) {
    const { query } = page
    const { next } = query
    return { next: next || null }
  }
</script>

<script>
  import { goto, stores } from "@sapper/app"

  import ListErrors from "../components/ListErrors.svelte"
  import Nav from "../components/Nav.svelte"

  export let next

  let email = ""
  let errors = null
  let password = ""
  const { session } = stores()

  async function register(newUser) {
    const response = await fetch("/api/auth/register", {
      method: "POST",
      credentials: "same-origin",
      body: JSON.stringify(newUser, null, 2),
      headers: {
        "Content-Type": "application/json",
      },
    })
    const user =
      response.ok || response.status === 400
        ? await response.json()
        : { error: `${response.status} ${response.statusText}` }
    if (!user.error) {
      $session = {
        ...$session,
        user,
      }
    }
    return user
  }

  async function submit(event) {
    event.preventDefault()

    const user = await register({ email, password })
    if (user.error) {
      errors = user.error
    } else {
      goto(next || "/admin")
    }
  }
</script>

<svelte:head>
  <title>Inscription | {$session.title}</title>
</svelte:head>

<Nav segment="register" />

<main class="container-fluid">
  <div class="auth-page">
    <div class="container page">
      <div class="row">
        <div class="col-md-6 offset-md-3 col-xs-12">
          <h1 class="text-xs-center">Sign up</h1>
          <p class="text-xs-center"><a href="/login?next={next || '/admin'}">Have an account?</a></p>

          <ListErrors {errors} />

          <form on:submit={submit}>
            <fieldset class="form-group">
              <input class="form-control form-control-lg" type="text" placeholder="Email" bind:value={email} />
            </fieldset>
            <fieldset class="form-group">
              <input
                class="form-control form-control-lg"
                type="password"
                placeholder="Password"
                bind:value={password} />
            </fieldset>
            <button class="btn btn-lg btn-primary pull-xs-right"> Sign up </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
