<script context="module">
  import { gotoRetrievalError } from "../../../errors"
  import { retrieveBlock } from "../../../retrievers"

  export async function preload(page) {
    const { params } = page
    const block = await retrieveBlock(params.organization, params.survey, params.block, {
      errorHandler: gotoRetrievalError(this.error),
      fetch: this.fetch,
      location: page.path,
    })
    return { block }
  }
</script>

<script>
  import { getContext } from "svelte"

  import { goto, stores } from "@sapper/app"

  import BlockNotFound from "../../../components/BlockNotFound.svelte"
  import CustomBanner from "../../../components/CustomBanner.svelte"
  import Demographic from "../../../components/Demographic.svelte"
  import DynamicGrid from "../../../components/DynamicGrid.svelte"
  import Importance from "../../../components/Importance.svelte"
  import Information from "../../../components/Information.svelte"
  import StaticGrid from "../../../components/StaticGrid.svelte"

  export let block

  const answersStore = getContext("answersStore")
  const organizationStore = getContext("organizationStore")
  const { session } = stores()
  const surveyStore = getContext("surveyStore")
  const tokenStore = getContext("tokenStore")

  $: answers = $answersStore

  $: organization = $organizationStore

  $: survey = $surveyStore

  $: token = $tokenStore

  $: blockAnswers = answers[block.slug] || {}

  $: blockComponent = componentFromBlockType(block.type)

  $: blockGrid = survey.grids[block.grid] || null

  let nextBlock
  $: {
    const blocks = survey.blocks
    const index = blocks.findIndex((current) => current.slug === block.slug)
    nextBlock = index < 0 || index >= blocks.length - 1 ? null : blocks[index + 1]
  }

  let previousBlock
  $: {
    const blocks = survey.blocks
    const index = blocks.findIndex((current) => current.slug === block.slug)
    previousBlock = index <= 0 ? null : blocks[index - 1]
  }

  function componentFromBlockType(type) {
    return (
      {
        demographic: Demographic,
        "dynamic grid": DynamicGrid,
        importance: Importance,
        information: Information,
        "static grid": StaticGrid,
      }[type] || BlockNotFound
    )
  }

  function setBlockAnswers(blockAnswers) {
    $answersStore = {
      ...answers,
      [block.slug]: blockAnswers,
    }
  }

  async function submit() {
    if (nextBlock === null) {
      await submitAnswers()
    } else {
      goto(`/${organization.slug}/${survey.slug}/${nextBlock.slug}`)
    }
  }

  async function submitAnswers() {
    if (token && Object.keys(answers).length > 0) {
      await fetch(`/api/${organization.slug}/${survey.slug}`, {
        method: "POST",
        body: JSON.stringify(
          {
            answer: answers,
            token,
          },
          null,
          2,
        ),
        headers: {
          "Content-Type": "application/json; charset=utf-8",
        },
      })
      goto(`/${organization.slug}/${survey.slug}/conclusion`)
    } else {
      console.log("TODO: submitAnswers when there is nothing to send")
    }
  }
</script>

<style>
  main {
    /* For sticky footer: cf https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
    flex: 1;
  }
</style>

<svelte:head>
  <title>{block.title} | {survey.title} | {organization.name} | {$session.title}</title>
</svelte:head>

<CustomBanner {organization} {survey} />

<main class="container-fluid">
  <svelte:component
    this={blockComponent}
    answers={blockAnswers}
    {block}
    grid={blockGrid}
    {nextBlock}
    on:answered={(event) => setBlockAnswers(event.detail)}
    on:submit={submit}
    {organization}
    {previousBlock}
    {survey}
    surveyAnswers={answers} />
</main>
