<script context="module">
  import { gotoRetrievalError } from "../../../errors"
  import { retrieveSurvey } from "../../../retrievers"

  export async function preload(page) {
    const { params } = page
    const survey = await retrieveSurvey(params.organization, params.survey, {
      errorHandler: gotoRetrievalError(this.error),
      fetch: this.fetch,
      location: page.path,
    })
    return { survey }
  }
</script>

<script>
  import { getContext, onMount, setContext } from "svelte"
  import { writable } from "svelte/store"

  export let survey

  const answersStore = writable({})
  let mounted = false
  const organizationStore = getContext("organizationStore")
  const tokenStore = writable("")

  answersStore.subscribe((answers) => {
    if (!mounted) {
      return
    }
    if (answers) {
      storage.setItem(`${survey.slug}_${token}`, JSON.stringify(answers))
    } else {
      storage.removeItem(`${survey.slug}_${token}`)
    }
  })
  setContext("answersStore", answersStore)

  setContext("surveyStore", writable(survey))

  tokenStore.subscribe((token) => {
    if (!mounted) {
      return
    }
    if (token) {
      storage.setItem("token", token)
    } else {
      storage.removeItem("token")
    }
  })
  setContext("tokenStore", tokenStore)

  $: answers = $answersStore

  $: organization = $organizationStore

  $: storage = process.browser
    ? survey.storage === "session"
      ? sessionStorage // eslint-disable-line no-undef
      : localStorage // eslint-disable-line no-undef
    : undefined

  $: token = $tokenStore

  onMount(() => {
    const token = storage.getItem("token")
    if (token) {
      $tokenStore = token
      const text = storage.getItem(`${survey.slug}_${token}`)
      if (text) {
        $answersStore = JSON.parse(text)
      }
    }

    mounted = true
  })

  function surveyStarted(token1, answers) {
    $tokenStore = token1
    token = token1 // Force token value, to ensure that it is ok for `$answersStore = answers` below.
    if (!answers.startDateTime) {
      answers = {
        ...answers,
        startDateTime: new Date().toISOString(),
      }
    }
    $answersStore = answers
  }
  setContext("surveyStarted", surveyStarted)
</script>

<slot />
