<script>
  import { getContext } from "svelte"

  import { stores } from "@sapper/app"

  import AdminOnly from "../../../components/AdminOnly.svelte"
  import Nav from "../../../components/Nav.svelte"

  const organizationStore = getContext("organizationStore")
  const { session } = stores()
  const surveyStore = getContext("surveyStore")

  $: organization = $organizationStore

  $: survey = $surveyStore
</script>

<style>
  main {
    /* For sticky footer: cf https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
    flex: 1;
  }
</style>

<svelte:head>
  <title>Admin | {survey.title} | {organization.name} | {$session.title}</title>
</svelte:head>

<Nav segment={organization.slug} />

<main class="container-fluid">
  <AdminOnly next="/{organization.slug}/{survey.slug}/admin">
    <h2>Administration du questionnaire</h2>

    <h3>Description du questionnaire</h3>

    <ul>
      <li><a href="/api/{organization.slug}/{survey.slug}">Fichier JSON de description</a></li>
      <li><a href="/api/{organization.slug}/{survey.slug}/qf">Fichier QF de description</a></li>
    </ul>

    <h3>Pages du questionnaire</h3>

    <ul>
      <li><a rel="prefetch" href="/{organization.slug}/{survey.slug}">Introduction</a></li>
      {#each survey.blocks as block (block.slug)}
        <li><a rel="prefetch" href="/{organization.slug}/{survey.slug}/{block.slug}">{block.title}</a></li>
      {/each}
    </ul>

    <a class="btn btn-primary mb-3" href="/{organization.slug}/{survey.slug}" rel="prefetch" role="button">
      Commencer le questionnaire
    </a>

    <h3>Réponses au questionnaire</h3>

    <ul>
      <li><a href="/{organization.slug}/{survey.slug}/local-answers">Réponses faites sur ce navigateur</a></li>
      <li><a href="/{organization.slug}/{survey.slug}/stats"><b>Statistiques sur les réponses</b></a></li>
      <li><a href="/api/{organization.slug}/{survey.slug}/csv">Fichier CSV des réponses</a></li>
      <li><a href="/api/{organization.slug}/{survey.slug}/answers">Fichier JSON des réponses</a></li>
      <li><a href="/api/{organization.slug}/{survey.slug}/rsp">Fichier RSP des réponses</a></li>
    </ul>
  </AdminOnly>
</main>
