<script>
  import { getContext } from "svelte"

  import { stores } from "@sapper/app"

  import CustomBanner from "../../../components/CustomBanner.svelte"

  const surveyStore = getContext("surveyStore")
  const organizationStore = getContext("organizationStore")
  const { session } = stores()

  $: organization = $organizationStore

  $: survey = $surveyStore
</script>

<style>
  main {
    /* For sticky footer: cf https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
    flex: 1;
  }
</style>

<svelte:head>
  <title>Conclusion | {survey.title} | {organization.name} | {$session.title}</title>
</svelte:head>

<CustomBanner {organization} {survey} />

<main class="container-fluid">
  {@html survey.conclusion}
</main>
