<script context="module">
  export async function preload(page) {
    const { query } = page
    const { code } = query
    return { code: code || "" }
  }
</script>

<script>
  import { getContext } from "svelte"
  import { v1 as uuidv1 } from "uuid"

  import { goto, stores } from "@sapper/app"

  import CustomBanner from "../../../components/CustomBanner.svelte"

  export let code

  const answersStore = getContext("answersStore")
  let codeError = null
  const organizationStore = getContext("organizationStore")
  const { session } = stores()
  const surveyStarted = getContext("surveyStarted")
  const surveyStore = getContext("surveyStore")

  $: answers = $answersStore

  $: organization = $organizationStore

  $: survey = $surveyStore

  async function startSurvey(event) {
    event.preventDefault()
    event.stopPropagation()

    let ok = true
    if (survey.tokens) {
      const response = await fetch(`/api/${organization.slug}/${survey.slug}/check-token`, {
        method: "POST",
        body: JSON.stringify(
          {
            token: code,
          },
          null,
          2,
        ),
        headers: {
          "Content-Type": "application/json; charset=utf-8",
        },
      })
      ok = response.ok
    } else {
      code = uuidv1()
    }
    if (ok) {
      surveyStarted(code, answers)
      goto(`/${organization.slug}/${survey.slug}/${survey.blocks[0].slug}`)
    } else {
      codeError = "Code incorrect !"
    }
  }
</script>

<style>
  main {
    /* For sticky footer: cf https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
    flex: 1;
  }
</style>

<svelte:head>
  <title>{survey.title} | {organization.name} | {$session.title}</title>
</svelte:head>

<CustomBanner {organization} {survey} />

<main class="container-fluid">
  {@html survey.introduction}

  <form class="form-inline" on:submit={startSurvey}>
    {#if survey.tokens}
      <label class="mr-2 my-1" for="token">Code d'accès :</label>
      <input
        autocomplete="off"
        bind:value={code}
        class="form-control{codeError ? ' is-invalid' : ''} my-1 mr-sm-2"
        id="token"
        name="token"
        pattern="[0-9a-z]{'{6}'}"
        placeholder="Code fourni"
        required
        title="Code à 6 caractères (lettres minuscules ou chiffres)"
        type="text" />
      {#if codeError}<span class="mx-3 p-1 text-danger">{codeError}</span>{/if}
    {/if}
    <button class="btn btn-primary" type="submit">Commencer</button>
  </form>
</main>
