<script>
  import { getContext, onMount } from "svelte"

  import { goto, stores } from "@sapper/app"

  import Nav from "../../../components/Nav.svelte"

  let localAnswerByToken = {}
  let localAnswerProgressByToken = {}
  const organizationStore = getContext("organizationStore")
  const { session } = stores()
  const surveyStarted = getContext("surveyStarted")
  const surveyStore = getContext("surveyStore")
  let token = null

  $: organization = $organizationStore

  $: survey = $surveyStore

  $: storage = process.browser
    ? survey.storage === "session"
      ? sessionStorage // eslint-disable-line no-undef
      : localStorage // eslint-disable-line no-undef
    : undefined

  onMount(() => {
    const answerPrefix = `${survey.slug}_`
    localAnswerByToken = Object.keys(storage)
      .filter((key) => key.startsWith(answerPrefix))
      .reduce((answers, key) => {
        const answerText = storage.getItem(key)
        answers[key.substring(answerPrefix.length)] = JSON.parse(answerText)
        return answers
      }, {})
    token = storage.getItem("token")
  })

  function continueAnswer(localToken) {
    surveyStarted(localToken, localAnswerByToken[localToken] || {})
    goto(`/${organization.slug}/${survey.slug}/${survey.blocks[0].slug}`)
  }

  function deleteAnswer(localToken) {
    storage.removeItem(`${survey.slug}_${localToken}`)
    localAnswerByToken = { ...localAnswerByToken }
    delete localAnswerByToken[localToken]
    localAnswerProgressByToken = { ...localAnswerProgressByToken }
    delete localAnswerProgressByToken[localToken]
    if (token === localToken) {
      token = null
    }
  }

  async function submitAllAnswers() {
    for (const localToken of Object.keys(localAnswerByToken)) {
      await submitAnswer(localToken)
    }
  }

  async function submitAnswer(localToken) {
    localAnswerProgressByToken = { ...localAnswerProgressByToken }
    localAnswerProgressByToken[localToken] = null // null = in progress
    const localAnswer = localAnswerByToken[localToken]
    if (localAnswer === undefined) {
      localAnswerProgressByToken = { ...localAnswerProgressByToken }
      delete localAnswerProgressByToken[localToken]
    } else {
      const response = await fetch(`/api/${organization.slug}/${survey.slug}`, {
        method: "POST",
        body: JSON.stringify(
          {
            answer: localAnswer,
            token: localToken,
          },
          null,
          2,
        ),
        headers: {
          "Content-Type": "application/json; charset=utf-8",
        },
      })
      const result =
        response.ok || response.status === 400
          ? await response.json()
          : { error: `${response.status} ${response.statusText}` }
      if (result.error) {
        localAnswerProgressByToken = { ...localAnswerProgressByToken }
        localAnswerProgressByToken[localToken] = result
      } else {
        deleteAnswer(localToken)
      }
    }
  }
</script>

<style>
  main {
    /* For sticky footer: cf https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
    flex: 1;
  }
</style>

<svelte:head>
  <title>Réponses locales | {survey.title} | {organization.name} | {$session.title}</title>
</svelte:head>

<Nav segment={organization.slug} />

<main class="container-fluid">
  <h1>{organization.name}</h1>
  <h1>{survey.title}</h1>
  <h3>Réponses faites sur ce navigateur</h3>

  {#if Object.keys(localAnswerByToken).length > 0}
    <dl>
      {#each Object.keys(localAnswerByToken) as localToken (localToken)}
        <dt>Réponse {localToken}{token === localToken ? " (actuelle)" : ""}</dt>
        <dd>
          <div
            aria-label="Barre des actions sur le formulaire"
            class="btn-toolbar d-flex justify-content-end"
            role="toolbar">
            <button class="btn btn-danger btn-sm mr-5" on:click={() => deleteAnswer(localToken)} type="button">
              Supprimer
            </button>
            <button class="btn btn-secondary btn-sm mr-3" on:click={() => continueAnswer(localToken)} type="button">
              Reprendre
            </button>
            <button class="btn btn-primary btn-sm" on:click={() => submitAnswer(localToken)} type="button">
              Envoyer
            </button>
          </div>
          {#if localAnswerProgressByToken[localToken] !== undefined}
            {#if localAnswerProgressByToken[localToken] === null}
              <div class="alert alert-primary mb-3 mt-3" role="alert">
                Soumission du questionnaire en cours...
                <div class="progress">
                  <div
                    class="progress-bar progress-bar-striped progress-bar-animated"
                    role="progressbar"
                    aria-valuenow="100"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    style="width: 100%" />
                </div>
              </div>
            {:else if localAnswerProgressByToken[localToken].error}
              <div class="alert alert-danger mb-3 mt-3" role="alert">
                <strong>La soumission du formulaire a échoué !</strong>
                <pre><code>{JSON.stringify(localAnswerProgressByToken[localToken], null, 2)}</code></pre>
              </div>
            {:else}
              <div class="alert alert-success mb-3 mt-3" role="alert">
                <strong>La soumission du formulaire a réussi.</strong>
              </div>
            {/if}
          {/if}
        </dd>
      {/each}
    </dl>
    <div
      aria-label="Barre des actions sur le formulaire"
      class="btn-toolbar d-flex justify-content-start mb-5 mt-5"
      role="toolbar">
      <button class="btn btn-primary" on:click={submitAllAnswers} type="button"> Tout envoyer </button>
    </div>
  {/if}
</main>
