<script context="module">
  import { gotoRetrievalError } from "../../../errors"
  import { retrieveSurveyAnswers } from "../../../retrievers"

  export async function preload(page) {
    const { params } = page
    const surveyAnswers = await retrieveSurveyAnswers(params.organization, params.survey, {
      errorHandler: gotoRetrievalError(this.error),
      fetch: this.fetch,
      location: page.path,
    })
    return { surveyAnswers }
  }
</script>

<script>
  import { getContext, onMount } from "svelte"

  import { stores } from "@sapper/app"
  import { collectSelectQuestionAnswers, countAnswers } from "../../../helpers"

  import CustomBanner from "../../../components/CustomBanner.svelte"

  export let surveyAnswers

  const answersStore = getContext("answersStore")
  const organizationStore = getContext("organizationStore")
  let Plotly = null
  const { session } = stores()
  const surveyStore = getContext("surveyStore")

  $: answers = $answersStore

  $: organization = $organizationStore

  $: survey = $surveyStore

  onMount(() => {
    Plotly = require("plotly.js/lib/core")
    Plotly.register(require("plotly.js/lib/pie"))

    for (let block of survey.blocks) {
      if (block.type === "demographic") {
        for (let question of block.questions) {
          if (question.type === "select") {
            // eslint-disable-next-line no-unused-vars
            const {
              answers: questionAnswers,
              // tokens,
            } = collectSelectQuestionAnswers(survey, block, question, surveyAnswers)
            const counts = countAnswers(questionAnswers, question.options.length)

            Plotly.react(
              document.querySelector(`#chart_demographic_question_${question.slug}`), // eslint-disable-line no-undef
              [
                {
                  // labels: question.options,
                  labels: question.options.map((option) =>
                    option.length >= 25 ? option.substring(0, 24) + "…" : option,
                  ),
                  type: "pie",
                  values: counts,
                },
              ],
              {},
            )
          }
        }
      } else if (block.type === "importance") {
        // TODO
      }
    }
  })

  function resize() {
    if (Plotly !== null) {
      for (let block of survey.blocks) {
        if (block.type === "demographic") {
          for (let question of block.questions) {
            if (question.type === "select") {
              // eslint-disable-next-line no-undef
              Plotly.Plots.resize(document.querySelector(`#chart_demographic_question_${question.slug}`))
            } else if (block.type === "importance") {
              // TODO
            }
          }
        }
      }
    }
  }
</script>

<style>
  main {
    /* For sticky footer: cf https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
    flex: 1;
  }
</style>

<svelte:head>
  <title>Statistiques | {survey.title} | {organization.name} | {$session.title}</title>
</svelte:head>

<svelte:window on:resize={resize} />

<CustomBanner {organization} {survey} />

<main class="container-fluid">
  <h3>Statistiques sur les réponses au questionnaire</h3>

  {#each survey.blocks as block (block.slug)}
    <div class="row">
      {#if block.type === "demographic"}
        {#each block.questions as question (question.slug)}
          {#if question.type === "select"}
            <div class="col-12 col-lg-6 col-xl-4">
              <div class="card text-center mt-3">
                <div class="card-body">
                  <h4 class="card-title">{question.title || question.slug}</h4>
                  {#if question.label}
                    <h5 class="card-text">{question.label}</h5>
                  {/if}
                  <div id="chart_demographic_question_{question.slug}" style="width: 100%;" />
                </div>
              </div>
            </div>
          {:else if question.type === "textarea"}
            <!-- empty block -->
            <span></span>
          {:else}
            <p>TODO: Display statistics for block of type {block.type}</p>
          {/if}
        {/each}
      {:else if block.type === "importance"}
        <div id="chart_importance_{block.slug}" />
      {:else if block.type === "information"}
        <!-- empty block -->
        <span></span>
      {:else}
        <p>TODO: Display statistics for block of type {block.type}</p>
      {/if}
    </div>
  {/each}
</main>
