<script>
  import { stores } from "@sapper/app"

  export let next

  const { session } = stores()

  $: user = $session.user
</script>

{#if user}
  {#if user.activated}
    {#if user.isAdmin}
      <slot>
        <div class="alert danger" role="alert"><i>Zone d'administration vide</i></div>
      </slot>
    {:else}
      <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Autorisation manquante!</h4>
        <p>Vous devez être un administrateur du site pour accéder à cette page.</p>
      </div>
    {/if}
  {:else}
    <div class="alert alert-warning" role="alert">
      <h4 class="alert-heading">Activation nécessaire !</h4>
      <p>Vous devez activer votre compte (et être un administrateur du site) pour accéder à cette page.</p>
      <a class="btn btn-primary" href="/activate?next={next || '/admin'}" role="button"> Activer mon compte </a>
    </div>
  {/if}
{:else}
  <div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">Authentification nécessaire !</h4>
    <p>Vous devez vous identifier et être un administrateur du site pour accéder à cette page.</p>
    <a class="btn btn-primary" href="/login?next={next || '/admin'}" role="button"> M'identifier </a>
  </div>
{/if}
