<script>
  export let organization
  export let survey = undefined
</script>

{#if survey && survey.banner}
  {@html survey.banner}
{:else}
  {#if organization.banner}
    {@html organization.banner}
  {:else}
    <h1>{organization.name}</h1>
  {/if}
  {#if survey}
    <h2>{survey.title}</h2>
  {/if}
{/if}
