<script>
  import { createEventDispatcher } from "svelte"

  import DynamicGridBlockSummaryArrayTds from "./DynamicGridBlockSummaryArrayTds.svelte"
  import DynamicGridBlockSummaryCollapse from "./DynamicGridBlockSummaryCollapse.svelte"
  import Pagination from "./Pagination.svelte"

  export let answers
  export let block
  // export let grid
  export let nextBlock
  export let organization
  export let previousBlock
  export let survey
  export let surveyAnswers

  const dispatch = createEventDispatcher()
  let errorMessage = null

  $: dynamicGridBlocksToSummarize = block.grid_summary
    ? survey.blocks.filter((aBlock) => aBlock.type === "dynamic grid" && aBlock.grid === block.grid_summary.grid)
    : null

  let errorMessageByQuestionSlug
  $: {
    let result = {}
    for (let question of block.questions) {
      let answer = answers[question.slug]
      let errorMessage = null
      if (question.type === "select") {
        const bounds = question.bounds
        if (bounds[1] === 1) {
          if (question.required && (answer === null || answer === undefined || answer === "")) {
            errorMessage = "Veuillez choisir une réponse."
          }
        } else {
          if (!Array.isArray(answer)) {
            answer = []
          }
          if (question.required && answer.length === 0) {
            errorMessage = `Veuillez cocher entre ${bounds[0]} et ${bounds[1]} réponses.`
          } else if (answer.length < bounds[0] || answer.length > bounds[1]) {
            errorMessage = `
                  Vous devez cocher entre ${bounds[0]} et ${bounds[1]} réponses.
                  Vous en avez actuellement coché ${answer.length}.
                `
          }
        }
      } else if (question.type === "textarea") {
        if (typeof answer !== "string") {
          answer = ""
        }
        if (question.required && !answer.trim()) {
          errorMessage = "Veuillez donner une réponse."
        }
      } else {
        console.log("TODO: Handle errors for questions of type:", question.type)
      }
      if (errorMessage !== null) {
        result[question.slug] = errorMessage
      }
    }
    errorMessageByQuestionSlug = Object.keys(result).length === 0 ? null : result
  }

  $: gridToSummarize = block.grid_summary ? survey.grids[block.grid_summary.grid] : null

  function getQuestionAnswer(answers, questionSlug) {
    return answers[questionSlug] || ""
  }

  function handleQuestionAnswersCheck(questionSlug, value) {
    value = parseInt(value)
    let values = answers[questionSlug]
    if (!Array.isArray(values)) {
      values = []
    }
    const index = values.indexOf(value)
    if (index >= 0) {
      values = [...values]
      values.splice(index, 1)
    } else {
      values = [...values, value]
      values.sort((a, b) => a - b)
    }
    answers = {
      ...answers,
      [questionSlug]: values,
    }
    dispatch("answered", answers)
  }

  function handleQuestionAnswersRadio(questionSlug, value) {
    value = parseInt(value)
    if (answers[questionSlug] !== value) {
      answers = {
        ...answers,
        [questionSlug]: value,
      }
      dispatch("answered", answers)
    }
  }

  function questionAnswersIncludes(answers, questionSlug, value) {
    return Array.isArray(answers[questionSlug]) && answers[questionSlug].includes(value)
  }

  function setQuestionAnswer(questionSlug, value) {
    if (answers[questionSlug] !== value) {
      answers = {
        ...answers,
        [questionSlug]: value,
      }
      dispatch("answered", answers)
    }
  }

  async function submit() {
    let isValid = true
    if (errorMessageByQuestionSlug !== null) {
      errorMessage = "Merci de compléter ou de corriger les réponses afin de pouvoir continuer."
      isValid = false
    } else {
      errorMessage = null
    }
    if (isValid) {
      dispatch("submit")
    }
  }
</script>

<style>
  .grid-summary-collapse {
    display: block;
  }

  .grid-summary-array {
    display: none;
  }

  @media (min-width: 992px) {
    .grid-summary-collapse {
      display: none;
    }

    .grid-summary-array {
      display: block;
    }
  }
</style>

{@html block.header_html || ""}

{#if gridToSummarize}
  <!-- Use array on large screens and collapsible cards otherwise. -->
  <div class="grid-summary-collapse mb-3 mt-3">
    {#each dynamicGridBlocksToSummarize as dynamicGridBlock, dynamicGridBlockIndex (dynamicGridBlock.slug)}
      <div class="card">
        <div class="card-header" id="summary-heading-{dynamicGridBlock.slug}">
          <h5 class="mb-0">
            <button
              aria-controls="summary-collapse-{dynamicGridBlock.slug}"
              aria-expanded="false"
              class="btn btn-link collapsed"
              data-target="#summary-collapse-{dynamicGridBlock.slug}"
              data-toggle="collapse">
              {block.grid_summary.columns[dynamicGridBlockIndex]}
            </button>
          </h5>
        </div>
        <div
          aria-labelledby="summary-heading-{dynamicGridBlock.slug}"
          class="collapse"
          id="summary-collapse-{dynamicGridBlock.slug}">
          <div class="card-body">
            <DynamicGridBlockSummaryCollapse
              answers={surveyAnswers[dynamicGridBlock.slug] || {}}
              block={dynamicGridBlock}
              grid={gridToSummarize}
              previousAnswers={dynamicGridBlockIndex > 0 ? surveyAnswers[dynamicGridBlocksToSummarize[dynamicGridBlockIndex - 1].slug] || {} : {}}
              previousBlock={dynamicGridBlockIndex > 0 ? dynamicGridBlocksToSummarize[dynamicGridBlockIndex - 1] : null} />
          </div>
        </div>
      </div>
    {/each}
  </div>
  <div class="grid-summary-array mb-3 mt-3 container-fluid">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col" />
          {#each dynamicGridBlocksToSummarize as dynamicGridBlock, dynamicGridBlockIndex}
            <th scope="col">{block.grid_summary.columns[dynamicGridBlockIndex]}</th>
          {/each}
        </tr>
      </thead>
      <tbody>
        {#each gridToSummarize as question (question.slug)}
          <tr>
            <th scope="row">{question.title}</th>
            <DynamicGridBlockSummaryArrayTds
              {dynamicGridBlocksToSummarize}
              grid={gridToSummarize}
              {question}
              {surveyAnswers} />
          </tr>
        {/each}
      </tbody>
    </table>
  </div>
{/if}

{#each block.questions as question (question.slug)}
  <fieldset>
    {#if question.title}
      <legend>{question.title}</legend>
    {/if}
    <div class="form-group">
      {#if question.label}
        <label for={question.slug}>{@html question.label}</label>
      {/if}
      {#if question.type === "select"}
        {#if question.options && question.options.length > 0}
          {#if question.bounds[1] === 1}
            {#if question.menu}
              <select
                class="form-control{errorMessage && errorMessageByQuestionSlug && errorMessageByQuestionSlug[question.slug] ? ' is-invalid' : ''}"
                id={question.slug}
                name={question.slug}
                on:blur={(event) => handleQuestionAnswersRadio(event.target.name, event.target.value)}
                on:change={(event) => handleQuestionAnswersRadio(event.target.name, event.target.value)}>
                {#if [null, undefined].includes(answers[question.slug])}
                  <option selected value="" />
                {/if}
                {#each question.options as option, optionIndex (option)}
                  <option selected={answers[question.slug] === optionIndex} value={optionIndex}>
                    {@html option}
                  </option>
                {/each}
              </select>
              {#if errorMessage && errorMessageByQuestionSlug && errorMessageByQuestionSlug[question.slug]}
                <div class="invalid-feedback">{errorMessageByQuestionSlug[question.slug]}</div>
              {/if}
            {:else if question.images}
              <div class="d-flex flex-row">
                <div>
                  {#each question.options as option, optionIndex (option)}
                    <div class="custom-control custom-radio">
                      <input
                        checked={answers[question.slug] === optionIndex}
                        class="custom-control-input{errorMessage && errorMessageByQuestionSlug && errorMessageByQuestionSlug[question.slug] ? ' is-invalid' : ''}"
                        id={`${question.slug}-${option}`}
                        name={question.slug}
                        on:change={(event) => handleQuestionAnswersRadio(event.target.name, event.target.value)}
                        type="radio"
                        value={optionIndex} />
                      <label class="custom-control-label" for={`${question.slug}-${option}`}>{@html option}</label>
                      {#if optionIndex === question.options.length - 1 && errorMessage && errorMessageByQuestionSlug && errorMessageByQuestionSlug[question.slug]}
                        <div class="invalid-feedback">{errorMessageByQuestionSlug[question.slug]}</div>
                      {/if}
                    </div>
                  {/each}
                </div>
                <div>
                  {#if answers[question.slug] !== undefined}
                    <img alt="" src={question.images[answers[question.slug]]} style="height: 100%;" />
                  {/if}
                </div>
              </div>
            {:else}
              {#each question.options as option, optionIndex (option)}
                <div class="custom-control custom-radio">
                  <input
                    checked={answers[question.slug] === optionIndex}
                    class="custom-control-input{errorMessage && errorMessageByQuestionSlug && errorMessageByQuestionSlug[question.slug] ? ' is-invalid' : ''}"
                    id={`${question.slug}-${option}`}
                    name={question.slug}
                    on:change={(event) => handleQuestionAnswersRadio(event.target.name, event.target.value)}
                    type="radio"
                    value={optionIndex} />
                  <label class="custom-control-label" for={`${question.slug}-${option}`}>{@html option}</label>
                  {#if optionIndex === question.options.length - 1 && errorMessage && errorMessageByQuestionSlug && errorMessageByQuestionSlug[question.slug]}
                    <div class="invalid-feedback">{errorMessageByQuestionSlug[question.slug]}</div>
                  {/if}
                </div>
              {/each}
            {/if}
          {:else}
            {#each question.options as option, optionIndex (option)}
              <div class="custom-control custom-checkbox">
                <input
                  checked={questionAnswersIncludes(answers, question.slug, optionIndex)}
                  class="custom-control-input{errorMessage && errorMessageByQuestionSlug && errorMessageByQuestionSlug[question.slug] ? ' is-invalid' : ''}"
                  id={`${question.slug}-${option}`}
                  name={question.slug}
                  on:change={(event) => handleQuestionAnswersCheck(event.target.name, event.target.value)}
                  type="checkbox"
                  value={optionIndex} />
                <label class="custom-control-label" for={`${question.slug}-${option}`}>{@html option}</label>
                {#if optionIndex === question.options.length - 1 && errorMessage && errorMessageByQuestionSlug && errorMessageByQuestionSlug[question.slug]}
                  <div class="invalid-feedback">{errorMessageByQuestionSlug[question.slug]}</div>
                {/if}
              </div>
            {/each}
          {/if}
        {:else}Missing options in {question.type} question named "{question.slug}".{/if}
      {:else if question.type === "textarea"}
        <textarea
          class="form-control{errorMessage && errorMessageByQuestionSlug && errorMessageByQuestionSlug[question.slug] ? ' is-invalid' : ''}"
          id={question.slug}
          name={question.slug}
          on:input={(event) => setQuestionAnswer(event.target.name, event.target.value)}
          rows={question.rows || 3}
          value={getQuestionAnswer(answers, question.slug)} />
        {#if errorMessage && errorMessageByQuestionSlug && errorMessageByQuestionSlug[question.slug]}
          <div class="invalid-feedback">{errorMessageByQuestionSlug[question.slug]}</div>
        {/if}
      {:else}Missing widget for type "{question.type}".{/if}
    </div>
  </fieldset>
{/each}

{@html block.footer_html || ""}

{#if errorMessage && errorMessageByQuestionSlug}
  <div class="alert alert-danger mb-4 mt-4" role="alert">{errorMessage}</div>
{/if}

<Pagination {nextBlock} on:submit={submit} {organization} {previousBlock} {survey} />
