<script>
  import { createEventDispatcher } from "svelte"

  import Pagination from "./Pagination.svelte"
  import QuestionMoreInfo from "./QuestionMoreInfo.svelte"

  export let answers
  export let block
  export let grid
  export let nextBlock
  export let organization
  export let previousBlock
  export let survey
  export let surveyAnswers

  let acceptLowSpending = false
  const dispatch = createEventDispatcher()
  let errorMessage = null
  let modalQuestion = null

  $: baseAnswers = baseBlock === null ? {} : { ...(surveyAnswers[baseBlock.slug] || {}) }

  $: baseBlock =
    block.initially === null ? null : survey.blocks.find((baseBlock) => baseBlock.slug === block.initially) || null

  $: baseSpendingLimit = baseBlock === null ? 0 : baseBlock.spending_limit

  // $: baseTotalSpending = grid
  //     .map(question => {
  //       const baseOptionIndex = baseAnswers[question.slug]
  //       if (baseOptionIndex === undefined) {
  //         return 0
  //       }
  //       return question.prices[baseOptionIndex]
  //     })
  //     .reduce((sum, basePrice) => sum + basePrice, 0)

  $: optionsMaxLength = Math.max(...grid.map((question) => question.options.length))

  let totalSpending
  $: {
    let total = 0
    for (let [questionSlug, optionIndex] of Object.entries(answers)) {
      const question = grid.find((question) => question.slug === questionSlug)
      if (question === undefined) {
        continue
      }
      total += question.prices[optionIndex]
    }
    totalSpending = total
  }

  $: if (Object.keys(answers).length === 0) {
    const initedAnswers = { ...answers }
    let answersChanged = false
    for (let question of grid) {
      if (initedAnswers[question.slug] === undefined) {
        const baseOptionIndex = baseAnswers[question.slug]
        if (baseOptionIndex === undefined) {
          const zeroPriceIndex = question.prices.indexOf(0)
          if (zeroPriceIndex !== undefined) {
            initedAnswers[question.slug] = zeroPriceIndex
            answersChanged = true
          }
        } else {
          initedAnswers[question.slug] = baseOptionIndex
          answersChanged = true
        }
      }
    }
    if (answersChanged) {
      answers = initedAnswers
      // // The fire below does nothing. Maybe container is not able to receive messages yet, when onstate is called
      // // for the first time.
      dispatch("answered", answers)
    }
  }

  function handleQuestionAnswersRadio(questionSlug, value) {
    value = parseInt(value)
    if (answers[questionSlug] !== value) {
      answers = {
        ...answers,
        [questionSlug]: value,
      }
      dispatch("answered", answers)
    }
  }

  function openQuestionModal(question) {
    modalQuestion = question.moreInfo ? question : null
  }

  async function submit() {
    let isValid = true
    if (totalSpending - baseSpendingLimit < block.bonus - block.tolerance) {
      if (!block.enable_low_spending || !acceptLowSpending) {
        errorMessage = `
          Vous auriez dû dépenser au minimum ${block.spending_limit - block.tolerance},
          mais vous avez dépensé moins, ${totalSpending}.
          Veuillez modifier votre réponse ou cocher la case ci-dessous.
        `
        isValid = false
      }
    } else if (totalSpending - baseSpendingLimit > block.bonus + block.tolerance) {
      errorMessage = `
        Vous auriez dû dépenser au maximum ${block.bonus + block.tolerance},
        mais vous avez dépensé plus, ${totalSpending - baseSpendingLimit}.
        Veuillez modifier votre réponse.
      `
      isValid = false
    } else {
      errorMessage = null
    }
    if (isValid) {
      // Fire "answered" before "submit", because when block is created,
      // the "$: { block }" above may set answers, but if
      // it is not modified later, "answered" was never fired.
      dispatch("answered", answers)
      dispatch("submit")
    }
  }
</script>

<style>
  .question-cards {
    display: block;
  }

  .question-table {
    display: none;
  }

  @media (min-width: 992px) {
    .question-cards {
      display: none;
    }

    .question-table {
      display: block;
    }
  }
</style>

{@html block.header_html || ""}

<div class="progress sticky-top" style="height: 32px;">
  <div
    class="{totalSpending - baseSpendingLimit < block.bonus - block.tolerance ? '' : totalSpending - baseSpendingLimit <= block.bonus + block.tolerance ? 'bg-success' : 'bg-danger'} lead progress-bar"
    role="progressbar"
    style="width: {Math.round(((totalSpending - baseSpendingLimit) / Math.max(block.bonus, totalSpending - baseSpendingLimit)) * 100)}%;"
    aria-valuenow={totalSpending - baseSpendingLimit}
    aria-valuemin={Math.min(0, -baseSpendingLimit)}
    aria-valuemax={Math.max(block.bonus, totalSpending - baseSpendingLimit)}>
    Points dépensés :
    {totalSpending - baseSpendingLimit}
    /
    {block.bonus}
    (tolérance de ±{block.tolerance})
  </div>
</div>

<!-- Use a table on large screens and cards otherwise. -->
<div class="question-cards row">
  {#each grid as question (`cards_${question.slug}`)}
    <div class="col-lg-6 col-xl-4">
      <div class="card mt-3">
        <div class="card-header d-flex justify-content-between px-1 py-1">
          <h4 class="my-0">
            <img alt="" src={question.image} style="height: 32px;">
            {question.title}
          </h4>
          {#if question.moreInfo}
            <a class="align-self-center card-link" data-toggle="modal" href="#modal-{question.slug}" on:click={() => openQuestionModal(question)}>+ d'infos</a>
          {/if}
        </div>
        <div class="card-body">
          {#each question.options as option, optionIndex (`card_${option}`)}
          <div>
            <div class="custom-control custom-radio{baseAnswers[question.slug] === optionIndex ? ' border border-info rounded text-info' : ''}">
              <input checked={answers[question.slug] === optionIndex} class="custom-control-input" id={`card_${question.slug}_${optionIndex}`}  name={`card_${question.slug}`} on:change={event => handleQuestionAnswersRadio(event.target.name.substring(5), event.target.value)} type="radio" value={optionIndex}>
              <label class="custom-control-label" for={`card_${question.slug}_${optionIndex}`}>
                <span class="badge badge-secondary">{question.prices[optionIndex]}  {question.prices[optionIndex] > 1 ?"points" : "point"}</span>
                <span class="sr-only">coût de cette option en points</span>
                {#if baseAnswers[question.slug] === optionIndex}
                  <i>{@html option}</i>
                {:else}
                  {@html option}
                {/if}
              </label>
            </div>
          </div>
          {/each}
        </div>
      </div>
    </div>
  {/each}
</div>
<table class="question-table table table-hover">
  <tbody>
    {#each grid as question (`table_${question.slug}`)}
      <tr>
        <th scope="row">
          <img alt="" src={question.image} style="height: 32px;" />
          {question.title}
          {#if question.moreInfo}
            <a data-toggle="modal" href="#modal-{question.slug}" on:click={() => openQuestionModal(question)}><i
                style="font-weight: normal;">(+ d'infos)</i></a>
          {/if}
        </th>
        {#each question.options as option, optionIndex (`cell_${option}`)}
          <td>
            <div
              class="custom-control custom-radio{baseAnswers[question.slug] === optionIndex ? ' border border-info rounded text-info' : ''}">
              <input
                checked={answers[question.slug] === optionIndex}
                class="custom-control-input"
                id={`cell_${question.slug}_${optionIndex}`}
                name={`cell_${question.slug}`}
                on:change={(event) => handleQuestionAnswersRadio(event.target.name.substring(5), event.target.value)}
                type="radio"
                value={optionIndex} />
              <label class="custom-control-label" for={`cell_${question.slug}_${optionIndex}`}>
                <span class="badge badge-secondary">{question.prices[optionIndex]}
                  {question.prices[optionIndex] > 1 ? "points" : "point"}</span>
                <span class="sr-only">coût de cette option en points</span>
                {#if baseAnswers[question.slug] === optionIndex}
                  <i>{@html option}</i>
                {:else}
                  {@html option}
                {/if}
              </label>
            </div>
          </td>
        {/each}
        {#each [...Array(optionsMaxLength - question.options.length).keys()] as index (`empty_option_${index}`)}
          <td />
        {/each}
      </tr>
    {/each}
  </tbody>
</table>

{@html block.footer_html || ""}

<!-- Dépenses totales : {totalSpending - baseSpendingLimit} / {block.bonus} (avec une tolérance de ±{block.tolerance}) -->

{#if errorMessage}
  <div class="alert alert-danger mb-4 mt-4" role="alert">
    {errorMessage}
  </div>
{/if}

{#if block.enable_low_spending && totalSpending - baseSpendingLimit < block.bonus - block.tolerance}
  <div class="custom-control custom-checkbox mt-3 text-right">
    <input bind:checked={acceptLowSpending} class="custom-control-input" id="acceptLowSpending" type="checkbox" />
    <label class="custom-control-label" for="acceptLowSpending">
      Je souhaite dépenser moins que le montant prévu.
    </label>
  </div>
{/if}

<Pagination {nextBlock} on:submit={submit} {organization} {previousBlock} {survey} />

{#if modalQuestion}
  <QuestionMoreInfo question={modalQuestion} />
{/if}
