<script>
  export let answers
  export let grid
  export let previousAnswers
</script>

<dl class="row">
  {#each grid as question (question.slug)}
    <dt class="col-sm-3">{question.title}</dt>
    <dd
      class="{previousAnswers[question.slug] === undefined || answers[question.slug] === previousAnswers[question.slug] ? '' : answers[question.slug] < previousAnswers[question.slug] ? 'bg-warning text-dark ' : 'bg-success text-white '}col-sm-9">
      {@html question.options[answers[question.slug]]}
    </dd>
  {/each}
</dl>
