<script>
  export let answer
  export let question
  export let previousAnswer
</script>

<td
  class={previousAnswer === undefined || answer === previousAnswer ? "" : answer < previousAnswer ? "bg-warning text-dark " : "bg-success text-white "}>
  {@html question.options[answer]}
</td>
