<script>
  import { createEventDispatcher } from "svelte"

  import Pagination from "./Pagination.svelte"
  import QuestionMoreInfo from "./QuestionMoreInfo.svelte"

  export let answers
  export let block
  export let grid
  export let nextBlock
  export let organization
  export let previousBlock
  export let survey
  // export let surveyAnswers

  const dispatch = createEventDispatcher()
  let errorMessage = null
  let modalQuestion = null

  function handleCardClick(question) {
    if (block.bounds[1] === 1) {
      handleQuestionAnswersRadio(question.slug)
    } else {
      handleQuestionAnswersCheck(question.slug)
    }
  }

  function handleQuestionAnswersCheck(value) {
    let importance = answers.importance
    if (!Array.isArray(importance)) {
      importance = []
    }
    const index = importance.indexOf(value)
    if (index >= 0) {
      importance = [...importance]
      importance.splice(index, 1)
    } else {
      importance = [...importance, value]
      importance.sort()
    }
    answers = {
      ...answers,
      importance,
    }
    dispatch("answered", answers)
  }

  function handleQuestionAnswersRadio(value) {
    if (answers.importance !== value) {
      answers = {
        ...answers,
        importance: value,
      }
      dispatch("answered", answers)
    }
  }

  function openQuestionModal(question) {
    modalQuestion = question.moreInfo ? question : null
  }

  function questionAnswersIncludes(answers, value) {
    return Array.isArray(answers.importance) && answers.importance.includes(value)
  }

  async function submit() {
    let importance = answers.importance
    if (!Array.isArray(importance)) {
      importance = []
    }
    const bounds = block.bounds
    let isValid = true
    if (importance.length < bounds[0]) {
      errorMessage = `
            Nous aurions besoin au minimum de ${bounds[0]} réponses à la question.
            Veuillez modifier votre réponse.
          `
      isValid = false
    } else if (importance.length > bounds[1]) {
      errorMessage = `
            Nous aurions besoin au maximum de ${bounds[1]} réponses à la question.
            Veuillez modifier votre réponse.
          `
      isValid = false
    } else {
      errorMessage = null
    }
    if (isValid) {
      dispatch("submit")
    }
  }
</script>

<style>
  .card {
    cursor: pointer;
  }
  .checkmark {
    display: block !important;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
  }
</style>

{@html block.header_html || ""}

<div class="row">
  {#each grid as question (question.slug)}
    <div class="col-2" style="max-width: 280px">
      <div class="card mt-3" on:click={() => handleCardClick(question)}>
        <img class="card-img-top" alt="" src={question.image} />
        <div class="card-body">
          <h4 class="card-title">{question.title}</h4>
          {#if question.moreInfo}
            <a
              class="card-link"
              data-toggle="modal"
              href="#modal-{question.slug}"
              on:click={() => openQuestionModal(question)}>+ d'infos</a>
          {/if}
        </div>
        {#if block.bounds[1] === 1 ? answers.importance === question.slug : questionAnswersIncludes(answers, question.slug)}
          <i class="bg-white checkmark material-icons text-success">check_circle</i>
        {/if}
      </div>
    </div>
  {/each}
</div>

{@html block.footer_html || ""}

{#if errorMessage}
  <div class="alert alert-danger mb-4 mt-4" role="alert">{errorMessage}</div>
{/if}

<Pagination {nextBlock} on:submit={submit} {organization} {previousBlock} {survey} />

{#if modalQuestion}
  <QuestionMoreInfo question={modalQuestion} />
{/if}
