<script>
  import Pagination from "./Pagination.svelte"

  // export let answers
  export let block
  // export let grid
  export let nextBlock
  export let organization
  export let previousBlock
  export let survey
  // export let surveyAnswers
</script>

{@html block.header_html || ""}
{@html block.body_html || ""}
{@html block.footer_html || ""}

<Pagination {nextBlock} on:submit {organization} {previousBlock} {survey} />
