<script>
  import { goto, stores } from "@sapper/app"

  export let segment

  const { session } = stores()

  async function logout(event) {
    event.preventDefault()

    const response = await fetch("/api/auth/logout", {
      method: "POST",
      credentials: "same-origin",
      body: JSON.stringify({}, null, 2),
      headers: {
        "Content-Type": "application/json",
      },
    })
    const user =
      response.ok || response.status === 400
        ? await response.json()
        : { error: `${response.status} ${response.statusText}` }
    if (!user.error) {
      $session = {
        ...$session,
        user: null,
      }
    }
    goto("/")
  }
</script>

<nav class="bg-secondary fixed-top navbar navbar-dark navbar-expand-lg">
  <a class="navbar-brand" href="/" rel="prefetch">{$session.title}</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Basculer l'affichage de la navigation">
    <span class="navbar-toggler-icon" />
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="ml-auto navbar-nav">
      {#if segment === "admin"}
        <li class="nav-item active">
          <a class="nav-link" href="admin" rel="prefetch">Admin <span class="sr-only">(actuel)</span></a>
        </li>
      {:else}
        <li class="nav-item"><a class="nav-link" href="admin" rel="prefetch">Admin</a></li>
      {/if}
      {#if $session.user}
        <li class="nav-item"><a class="nav-link" href="logout" on:click={logout}>Logout</a></li>
      {:else if segment === "login" || segment === "register"}
        <li class="nav-item active">
          <a class="nav-link" href="login" rel="prefetch">Sign in <span class="sr-only">(actuel)</span></a>
        </li>
      {:else}
        <li class="nav-item"><a class="nav-link" href="login" rel="prefetch">Sign in</a></li>
      {/if}
    </ul>
  </div>
</nav>
<div style="height: 64px;" />
