<script>
  import { createEventDispatcher } from "svelte"

  export let nextBlock
  export let organization
  export let previousBlock
  export let survey

  const dispatch = createEventDispatcher()
</script>

<div
  aria-label="Barre des boutons de pagination du formulaire"
  class="btn-toolbar d-flex justify-content-end mb-4 mt-4"
  role="toolbar">
  {#if previousBlock !== null}
    <div aria-label="Boutons de retour en arrière dans le formulaire" class="btn-group mr-5" role="group">
      <a
        class="btn btn-secondary"
        href="/{organization.slug}/{survey.slug}/{previousBlock.slug}"
        role="button">Précédent</a>
    </div>
  {/if}
  <div aria-label="Boutons d'avancement dans le formulaire" class="btn-group" role="group">
    <button class="btn btn-primary" on:click={() => dispatch("submit")} type="button">
      {#if nextBlock === null}Terminer{:else}Suivant{/if}
    </button>
  </div>
</div>
