<script>
  export let question
</script>

<div class="modal" id="modal-{question.slug}" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Plus d'informations</h5>
        <button aria-label="Fermer" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {@html question.moreInfo}
      </div>
      <div class="modal-footer"><button class="btn btn-primary" data-dismiss="modal" type="button">Fermer</button></div>
    </div>
  </div>
</div>
