<script>
  import { createEventDispatcher } from "svelte"

  import Pagination from "./Pagination.svelte"
  import QuestionMoreInfo from "./QuestionMoreInfo.svelte"

  export let answers
  export let block
  export let grid
  export let nextBlock
  export let organization
  export let previousBlock
  export let survey
  // export let surveyAnswers

  const dispatch = createEventDispatcher()
  let errorMessage = null
  let modalQuestion = null

  let errorMessageByQuestionSlug
  $: {
    const result = {}
    for (let question of grid) {
      {
        const slug = `acceptable.${question.slug}`
        let answer = answers[slug]
        if (!Array.isArray(answer)) {
          answer = []
        }
        if (answer.length === 0) {
          result[slug] = "Veuillez choisir au moins une réponse."
        }
      }

      {
        const slug = `current.${question.slug}`
        let answer = answers[slug]
        if (answer === null || answer === undefined) {
          result[slug] = "Veuillez choisir une réponse."
        }
      }
    }
    errorMessageByQuestionSlug = Object.keys(result).length === 0 ? null : result
  }

  function handleQuestionAnswersCheck(questionSlug, value) {
    value = parseInt(value)
    let values = answers[questionSlug]
    if (!Array.isArray(values)) {
      values = []
    }
    const index = values.indexOf(value)
    if (index >= 0) {
      values = [...values]
      values.splice(index, 1)
    } else {
      values = [...values, value]
      values.sort((a, b) => a - b)
    }
    answers = {
      ...answers,
      [questionSlug]: values,
    }
    dispatch("answered", answers)
  }

  function handleQuestionAnswersRadio(questionSlug, value) {
    value = parseInt(value)
    if (answers[questionSlug] !== value) {
      answers = {
        ...answers,
        [questionSlug]: value,
      }
      dispatch("answered", answers)
    }
  }

  function openQuestionModal(question) {
    modalQuestion = question.moreInfo ? question : null
  }

  function questionAnswersIncludes(answers, questionSlug, value) {
    return Array.isArray(answers[questionSlug]) && answers[questionSlug].includes(value)
  }

  async function submit() {
    let isValid = true
    if (errorMessageByQuestionSlug !== null) {
      errorMessage = "Merci de compléter ou de corriger les réponses afin de pouvoir continuer."
      isValid = false
    } else {
      errorMessage = null
    }
    if (isValid) {
      dispatch("submit")
    }
  }
</script>

{@html block.header_html || ""}

<div class="row">
  {#each grid as question (question.slug)}
    <div class="col-lg-6 col-xl-4">
      <div class="card mt-3">
        <img class="card-img-top mx-auto" alt="" src={question.image} style="width: 180px;" />
        <div class="card-body">
          <h4 class="card-title">{question.title}</h4>
          <table class="table table-borderless">
            <thead>
              <th scope="col" />
              <th scope="col">{block.current}</th>
              <th scope="col">{block.acceptable}</th>
            </thead>
            <tbody>
              {#each question.options as option, optionIndex (option)}
                <tr>
                  <td>
                    {@html option}
                  </td>
                  <td>
                    <div class="custom-control custom-radio ml-2" style="transform: scale(1.4);">
                      <input
                        checked={answers[`current.${question.slug}`] === optionIndex}
                        class="custom-control-input{errorMessage && errorMessageByQuestionSlug && errorMessageByQuestionSlug[`current.${question.slug}`] ? ' is-invalid' : ''}"
                        id={`current.${question.slug}-${optionIndex}`}
                        name={`current.${question.slug}`}
                        on:change={(event) => handleQuestionAnswersRadio(event.target.name, event.target.value)}
                        type="radio"
                        value={optionIndex} />
                      <label class="custom-control-label" for={`current.${question.slug}-${optionIndex}`} />
                    </div>
                    {#if optionIndex === question.options.length - 1 && errorMessage && errorMessageByQuestionSlug && errorMessageByQuestionSlug[`current.${question.slug}`]}
                      <div class="text-danger">{errorMessageByQuestionSlug[`current.${question.slug}`]}</div>
                    {/if}
                  </td>
                  <td>
                    <span class="switch switch-sm">
                      <input
                        checked={questionAnswersIncludes(answers, `acceptable.${question.slug}`, optionIndex)}
                        class="switch"
                        id={`acceptable.${question.slug}-${optionIndex}`}
                        name={`acceptable.${question.slug}`}
                        on:change={(event) => handleQuestionAnswersCheck(event.target.name, event.target.value)}
                        type="checkbox"
                        value={optionIndex} />
                      <label
                        class="custom-switch-btn{errorMessage && errorMessageByQuestionSlug && errorMessageByQuestionSlug[`acceptable.${question.slug}`] ? ' text-danger' : ''}"
                        for={`acceptable.${question.slug}-${optionIndex}`}>
                        {#if questionAnswersIncludes(answers, `acceptable.${question.slug}`, optionIndex)}
                          Oui
                        {:else}Non{/if}
                      </label>
                    </span>
                    {#if optionIndex === question.options.length - 1 && errorMessage && errorMessageByQuestionSlug && errorMessageByQuestionSlug[`acceptable.${question.slug}`]}
                      <div class="text-danger">{errorMessageByQuestionSlug[`acceptable.${question.slug}`]}</div>
                    {/if}
                  </td>
                </tr>
              {/each}
            </tbody>
          </table>
        </div>
        {#if question.moreInfo}
          <div class="card-body">
            <a
              class="card-link"
              data-toggle="modal"
              href="#modal-{question.slug}"
              on:click={() => openQuestionModal(question)}>+ d'infos</a>
          </div>
        {/if}
      </div>
    </div>
  {/each}
</div>

{@html block.footer_html || ""}

{#if errorMessage && errorMessageByQuestionSlug}
  <div class="alert alert-danger mb-4 mt-4" role="alert">{errorMessage}</div>
{/if}

<Pagination {nextBlock} on:submit={submit} {organization} {previousBlock} {survey} />

{#if modalQuestion}
  <QuestionMoreInfo question={modalQuestion} />
{/if}
